//- vamos a EXTENDER el layout.pug
extends layout

//-In the “testLayout.pug” there is an element named "block content". 
//-Whatever we indented here, will appear in that part of the layout
block content
    //- vamos a usar un modulo externo que tenemos el la variable "h" de los LOCALS
    //-h2 sale ends #{h.moment().endOf('day').fromNow()}
    //-pre= h.dump(locals)

    p Extending a layout
